body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0073e6, #ffffff);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007bff;
    color: white;
    padding: 15px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.store-name {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    flex-grow: 1;
}

nav {
    background: #0056b3;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    padding: 10px 20px;
    display: inline-block;
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.product {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    width: 65%;
}

.slider {
    position: relative;
    max-width: 100%;
}

.slider img {
    width: 100%;
    border-radius: 5px;
    display: none;
}

.slider img:first-child {
    display: block;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    font-size: 18px;
    background: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

footer {
    background: #0056b3;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 16px;
}

.pagination button:hover {
    background: #0057b3;
}

.pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
